<%def name="generate()">
<div id="header">
<a href="?a=home">
<img border="0" src="/images/assets/header.jpg"/>
</a>
</div>

<table width="100%" height="25" cellspacing="1" border="0" class="navigation">
<tbody><tr class="kb-table-row-odd">
<td width="10%" align="center"><a target="_self" href="/home/index" style="display: block;" class="link">Home</a></td>
<td width="10%" align="center"><a target="_self" href="/home/kills" style="display: block;" class="link">Kills</a></td>
<td width="10%" align="center"><a target="_self" href="/home/losses" style="display: block;" class="link">Losses</a></td>
<td width="10%" align="center"><a target="_self" href="/home/stats" style="display: block;" class="link">Stats</a></td>

<td width="10%" align="center"><a target="_self" href="/home/search" style="display: block;" class="link">Search</a></td>
<td width="10%" align="center"><a target="_self" href="/home/post" style="display: block;" class="link">Post Mail</a></td>
<td width="10%" align="center"><a target="_self" href="http://f.clownpunchers.net" style="display: block;" class="link">Forums</a></td>
<td width="10%" align="center"><a target="_self" href="http://clownpunchers.net" style="display: block;" class="link">Blog</a></td>
<td width="10%" align="center"><a target="_self" href="/home/about" style="display: block;" class="link">About</a></td>
</tr>
</tbody></table>
</%def>
