<%inherit file="/base.html" />
<p>after-actions was created I don't like maintaining PHP and I am not a big fang of the DB schema
that is used by EDK. More information available on the following project sites:</p>

<ul>
    <li>after-actions (Google Code)</li>
    <li>after-actions-discuss (Google Group)</li>
</ul>

<p>
<b>Staff:</b><br/>
Quebnaric Deile (queb@clownpunchers.net)
</p>
<br/>
<p>
<b>Contributors:</b><br/>
The forum guy, the PostgreSQL dump guy, EDK source
</p>
<hr/>
<p>
Created using 
<a href="http://pylonshq.org">Pylons</a>,  
<a href="http://www.sqlalchemy.org/">SQLAlchemy</a>,  
<a href="http://www.postgresql.org/">PostgreSQL</a>, 
<a href="#">jQuery</a>, with 
CSS ripped from <a href="http://eve-id.net/forum/">EDK</a>
</p> 