<%namespace name="navigation" file="/modules/navigation.html" />

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" >
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/css/aa.css" type="text/css" />
<title>after-actions</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>

<body>
<div id="container">
    ${navigation.generate()}
    ${next.body()}
</div>
</body>
</html>